/* Reset de Estilos */
/* controlam o espaçamento, preenchimento e modelo de caixa dos elementos*/
* {
    margin: 0; 
    padding: 3;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Adiciona um comportamento de rolagem suave a toda a página */
}

/* Estilos Globais*/
/* definem a família de fontes, altura da linha, cor de fundo e cor do texto */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 15px;
}

/* Estilo para telas maiores que 768px (computador) */
@media only screen and (min-width: 768px) {

    /* Estilo da header */
    #main-header {
        background-color: #4CB1BD;
        color: #fff;
        padding: 10px 25px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease; /* Adiciona uma transição suave a todas as propriedades */
        position: sticky; /* Fixa o cabeçalho no topo da tela */
        top: 0; /* Define a posição no topo da tela */
        width: 100%; /* Define a largura como 100% */
        z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
        border-radius: 5px;
    }

    /* Estilo para o cabeçalho menor */
    #main-header.small {
        height: 50px; /* Altura menor */
        padding: 5px 20px; /* Menos preenchimento */
    }

    #main-header.small .profile-picture,
    #main-header.small h1,
    #main-header.small p {
        display: none; /* Oculta a foto, nome e descrição */
    }

    /*Inserindo a imagem*/
    .profile-picture {
        display: flex;
        justify-content: left;
    }

    .profile-picture img {
        border-radius: 15%; /* Borda arredondada */
        width: 160px; /* Largura da imagem */
        height: auto; /* Altura automática para manter a proporção */
        object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
        margin-right: 20px;
        margin-left: 0px;
        border: solid 3px #fff;
        transition: transform 0.3s ease;
    }

    .profile-picture img:hover {
    transform: scale(1.08);
    }

    nav {
        margin-left: auto; /* Isso empurra a lista <ul> para a direita */
        margin-right: 15px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

    nav ul li:last-child {
        margin-right: 0; /* Remove a margem direita do último item */
    }

    nav ul li a {
        color: #fff; /* Cor do texto */
        text-decoration: none;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }
    
}  /* Fim do estilo para computador*/

/* Estilo para telas menores ou iguais a 768px (celular) */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        background-color: #4CB1BD;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        transition: all 0.3s ease; /* Adiciona uma transição suave a todas as propriedades */
        position: sticky; /* Fixa o cabeçalho no topo da tela */
        top: 0; /* Define a posição no topo da tela */
        width: 100%; /* Define a largura como 100% */
        z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
        border-radius: 5px;
    }

    /* Estilo para o cabeçalho menor */
    #main-header.small {
        height: 50px; /* Altura menor */
        padding: 5px 20px; /* Menos preenchimento */
    }

    #main-header.small .profile-picture,
    #main-header.small h1,
    #main-header.small p {
        display: none; /* Oculta a foto, nome e descrição */
    }

    /*Inserindo a imagem*/
    .profile-picture {
        display: flex;
        justify-content: center;
    }

    .profile-picture img {
        border-radius: 70%; /* Define a borda da imagem como arredondada */
        width: 80px; /* Define a largura da imagem */
        height: auto; /* Altura automática para manter a proporção */
        object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
        margin-top: 10px; 
        border: solid 2px #fff;
        transition: transform 0.3s ease;
    }

    .profile-picture img:hover {
    transform: scale(1.08);
    }

    nav {
        display: flex; /* Torna o contêiner da lista um flex container */
        justify-content: center; /* Centraliza os itens horizontalmente */
        text-align: center;
    }

    nav ul {
        list-style: none;
        margin: 20;
        padding: 0;
        display: flex;
        margin-left: 20px;
        font-size: 13px;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 12px;
    }

    nav ul li a {
        color: #fff; /* Cor do texto */
        text-decoration: none;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

} /* Fim do estilo para celular*/

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0.5);
    animation: zoomIn 1.5s forwards;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    margin-bottom: 10px; /*Margem de baixo*/
    color: #3F8892;
}

h3 {
    margin-top: 10px; /* Margem de cima*/
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* Borda arredondada*/
}

.logo img {
    border-radius: 15%;
    width: 40px; /* Define a largura da imagem */
    height: 40px; /* Define a altura da imagem */
    object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
    margin-right: 10px;
    margin-top: 10px;
}

/* Muda de cor quando o mouse passa pelo link*/
a:hover {
    color: #FFA500; /* Mudança de cor ao passar o mouse */
}

.elemento {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.progress {
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 13px; /* Altura da barra de progresso */
    width: 250px; /* Define um tamanho fixo para a largura da barra de progresso */
}

.progress-bar {
    background-color: #4CB1BD;
    color: white;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    font-size: 9px; /* Reduz o tamanho da fonte */
    height: 13px; 
    width: 50%;  /* Define a largura da barra de progresso em relação à largura da div pai */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CB1BD;
    color: #fff;
    text-decoration: none;
}
